.home {
    height: 400px;
    color: white;
}

.home-content {
    margin: auto;
    padding: 10px;
    margin-top: 100px;
}

.home-content h3{
    color: rgb(239, 204, 77);
    margin-top: 20px;
}

.hire-resume-button-container {
    display: flex;
}

.hire-me-button {
    background-color: #ff854c;
    text-align: center;
    width: 100px;
    padding: 10px;
    border-radius: 90px;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid yellow;
    width: 180px;
    font-weight: bold;
}

.hire-me-button:hover {
    background-color: #ff854c;
    text-align: center;
    width: 100px;
    padding: 10px;
    border-radius: 90px;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid yellow;
    width: 180px;
}

.hire-me-button:hover {
    background-color: white;
    color: black;
    width: 250px;
    transition-duration: 1s;
}

.get-resume-button {
    background-color: rgba(255, 247, 0, 0.885);
    color: black;
    text-align: center;
    width: 100px;
    padding: 10px;
    border-radius: 90px;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid yellow;
    width: 180px;
    margin-left: 10px;
    font-weight: bold;
}

.get-resume-button:hover {
    background-color: white;
    color: black;
    width: 250px;
    transition-duration: 1s;
}

a.get-resume-button {
    text-decoration: none;
    color: black;
}